* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

.heading {
	text-align: center;
	font-weight: 400;
}

