* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

ul,li {
	padding: 0;
	margin: 7px;
}

.skip-to-main {
	margin-left: -900px;
	height: 0;
}

.heading {
	text-align: center;
	font-weight: 400;
}

.heading2left {
	text-align: left;
	font-weight: 300;
}

.heading2centre {
	text-align: center;
	font-weight: 400;
}

.heading3left {
	text-align: left;
	font-weight: 400;
}








