.contact {
	background-color: $secondary;
	display: flex;
	flex-direction: column;
	color: #fff;

	&-heading {
		text-align: center;
		font-weight: 300;
	}

	&-sub {
		font-size: .9rem;
		text-align: center;
		font-weight: 300;
	}
}

form {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
}

input {
	border: 1px solid gray;
	margin: 10px 0;
	padding: 5px;
}

textarea {
	border: 1px solid gray;
	margin: 10px 0 20px;
}