/*
* Contact section generic styles
*/

.contact {
	background-color: $secondary;
	display: flex;
	flex-direction: column;
	color: #fff;

	&__heading {
		font-size: 1.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__sub {
		font-size: .9rem;
		text-align: center;
		font-weight: 300;
	}
}

/*
* Contact form fills entire width on device on small screens. 
* Remains centered at 600px on large screens
*/
form {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
}

input {
	border: 1px solid gray;
	margin: 10px 0;
	padding: 5px;
}

textarea {
	border: 1px solid gray;
	margin: 10px 0 20px;
}