.poetry {
	max-width: 500px;
	min-height: 300px;
	padding: 20px;
	margin: 10px auto;
	background-color: $secondary;
	color: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 20px black;


	&__text-center {
		text-align: center;
	}

	&__text-right {
		text-align: right;
	}

	&__text-block-right {
		justify-self: left;
	}

	&__main-content-container {
		background: linear-gradient(to right bottom, rgb(261, 213, 111, 0.2), #331a00), url("./../../assets/images/poetry.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		padding: 40px;
	}

}